@model StoreMVC.Models.Product

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <img src="/Uploads/Product/@Model.Image" class="object-fit-fill ml-3 mr-0 rounded-4 w-9 h-9" style="width:350px;height:350px;display:block;margin:auto;" />
        </div>
        <div class="col-md-6">
            <h2><strong>@Model.ProductName</strong></h2>
            <h3>@Model.ManufacturerName</h3>
            <p>@Model.Description</p>
            <hr>
            <div class="mb-3">
                @if (Model.CategoryId == 1)
                {
                    <b>Цена (за 0,5 кг): </b>
                    <b>@Model.Price</b>
                    <b>руб.</b>
                    <br />
                }
                else
                {
                    <b>Цена: </b>
                    @Model.Price < br />
                }
            </div>
            <form>
                <button type="button" onclick="add(@Model.Id)" class="btn btn-success text-white">Добавить в корзину</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        async function add(productId) {
            var usernameEl = document.getElementById("username");
            if (usernameEl == null) {
                window.location.href = "/Identity/Account/Login";
            }
            try {
                var response = await fetch(`/Cart/AddProduct?productId=${productId}`);
                if (response.status == 200) {
                    var result = await response.json();
                    var cartCountEl = document.getElementById("cartCount");
                    cartCountEl.innerHTML = result;
                    window.location.href = "#cartCount";
                }
            }
            catch (err) {
                console.log(err);
            }
        }
    </script>
}
