@model ProductDisplayModel
@{
    ViewData["Title"] = "Главная";
}

<div class="my-2">
    <form asp-action="Index" class="row row-cols-lg-auto g-3 align-items-center">
        <div class="col-12">
            <label class="visually-hidden" for="categoryId">Категории</label>
            <select class="form-select" id="categoryId" name="categoryId">
                <option selected>Категории</option>
                @foreach (var category in Model.Categories)
                {
                    <option selected="@(category.Id == Model.CategoryId)" value="@category.Id">@category.CategoryName</option>
                }
                <option selected>Категории</option>
            </select>
        </div>

        <div class="col-12">
            <label class="visually-hidden" for="sterm">Поиск по названию</label>
            <div class="input-group">
                <div class="input-group-text"></div>
                <input type="text" class="form-control" value="@Model.STerm" id="sterm" placeholder="Поиск по названию">
            </div>
        </div>

        <div class="col-12">
            <button type="submit" class="btn btn-primary">Поиск</button>
            <a href="~/Home/Index" type="reset" class="btn btn-dark">Сброс</a>
        </div>
    </form>
</div>

<hr class="border-0" />

<div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Second slide" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" rx="10" fill="#666"></rect><text x="45%" y="50%" fill="#444" dy=".3em">Second slide</text></svg>

            @*             <svg width="27" height="24" viewBox="0 0 22 18" stroke="10" color="#3e3e3d"><path fill="currentColor" d="M17.97 3.398a4.483 4.483 0 011.273 2.914c.062 1.207-.253 2.135-.91 3.17-.572.897-2.14 2.698-3.786 4.338-1.878 1.871-3.189 2.865-3.539 2.865-.144 0-.499-.177-1.284-.81-.626-.504-1.408-1.219-2.257-2.062-1.66-1.648-3.235-3.447-3.8-4.332-.694-1.09-.967-2.05-.91-3.169A4.483 4.483 0 014.03 3.398c.77-.785 1.769-1.213 2.816-1.213.958 0 1.818.293 2.64.808.284.178.49.329.845.608.113.089.172.135.234.181l.43.318.44-.303c.08-.055.157-.111.313-.229 1.254-.944 2.153-1.383 3.406-1.383 1.048 0 2.046.428 2.817 1.213zm-6.948-1.16a8.848 8.848 0 00-.739-.516C9.239 1.068 8.115.685 6.846.685c-1.454 0-2.837.593-3.886 1.662a5.983 5.983 0 00-1.7 3.888c-.075 1.441.285 2.708 1.143 4.053.638 1 2.274 2.87 4.007 4.59.883.877 1.702 1.624 2.372 2.165 1.029.829 1.657 1.142 2.226 1.142.942 0 2.369-1.082 4.598-3.302 1.718-1.712 3.348-3.584 3.992-4.596.811-1.275 1.224-2.491 1.143-4.052a5.983 5.983 0 00-1.7-3.888C17.99 1.277 16.609.685 15.154.685c-1.602 0-2.721.516-4.132 1.554z"></path><path fill="none" stroke="currentColor" stroke-miterlimit="50" stroke-width="0.5" d="M17.97 3.398a4.483 4.483 0 011.273 2.914c.062 1.207-.253 2.135-.91 3.17-.572.897-2.14 2.698-3.786 4.338-1.878 1.871-3.189 2.865-3.539 2.865-.144 0-.499-.177-1.284-.81-.626-.504-1.408-1.219-2.257-2.062-1.66-1.648-3.235-3.447-3.8-4.332-.694-1.09-.967-2.05-.91-3.169A4.483 4.483 0 014.03 3.398c.77-.785 1.769-1.213 2.816-1.213.958 0 1.818.293 2.64.808.284.178.49.329.845.608.113.089.172.135.234.181l.43.318.44-.303c.08-.055.157-.111.313-.229 1.254-.944 2.153-1.383 3.406-1.383 1.048 0 2.046.428 2.817 1.213zm-6.948-1.16a8.848 8.848 0 00-.739-.516C9.239 1.068 8.115.685 6.846.685c-1.454 0-2.837.593-3.886 1.662a5.983 5.983 0 00-1.7 3.888c-.075 1.441.285 2.708 1.143 4.053.638 1 2.274 2.87 4.007 4.59.883.877 1.702 1.624 2.372 2.165 1.029.829 1.657 1.142 2.226 1.142.942 0 2.369-1.082 4.598-3.302 1.718-1.712 3.348-3.584 3.992-4.596.811-1.275 1.224-2.491 1.143-4.052a5.983 5.983 0 00-1.7-3.888C17.99 1.277 16.609.685 15.154.685c-1.602 0-2.721.516-4.132 1.554z"></path></svg><svg width="27" height="24" viewBox="0 0 22 18" stroke="10" color="#3e3e3d"><path fill="currentColor" d="M17.97 3.398a4.483 4.483 0 011.273 2.914c.062 1.207-.253 2.135-.91 3.17-.572.897-2.14 2.698-3.786 4.338-1.878 1.871-3.189 2.865-3.539 2.865-.144 0-.499-.177-1.284-.81-.626-.504-1.408-1.219-2.257-2.062-1.66-1.648-3.235-3.447-3.8-4.332-.694-1.09-.967-2.05-.91-3.169A4.483 4.483 0 014.03 3.398c.77-.785 1.769-1.213 2.816-1.213.958 0 1.818.293 2.64.808.284.178.49.329.845.608.113.089.172.135.234.181l.43.318.44-.303c.08-.055.157-.111.313-.229 1.254-.944 2.153-1.383 3.406-1.383 1.048 0 2.046.428 2.817 1.213zm-6.948-1.16a8.848 8.848 0 00-.739-.516C9.239 1.068 8.115.685 6.846.685c-1.454 0-2.837.593-3.886 1.662a5.983 5.983 0 00-1.7 3.888c-.075 1.441.285 2.708 1.143 4.053.638 1 2.274 2.87 4.007 4.59.883.877 1.702 1.624 2.372 2.165 1.029.829 1.657 1.142 2.226 1.142.942 0 2.369-1.082 4.598-3.302 1.718-1.712 3.348-3.584 3.992-4.596.811-1.275 1.224-2.491 1.143-4.052a5.983 5.983 0 00-1.7-3.888C17.99 1.277 16.609.685 15.154.685c-1.602 0-2.721.516-4.132 1.554z"></path><path fill="none" stroke="currentColor" stroke-miterlimit="50" stroke-width="0.5" d="M17.97 3.398a4.483 4.483 0 011.273 2.914c.062 1.207-.253 2.135-.91 3.17-.572.897-2.14 2.698-3.786 4.338-1.878 1.871-3.189 2.865-3.539 2.865-.144 0-.499-.177-1.284-.81-.626-.504-1.408-1.219-2.257-2.062-1.66-1.648-3.235-3.447-3.8-4.332-.694-1.09-.967-2.05-.91-3.169A4.483 4.483 0 014.03 3.398c.77-.785 1.769-1.213 2.816-1.213.958 0 1.818.293 2.64.808.284.178.49.329.845.608.113.089.172.135.234.181l.43.318.44-.303c.08-.055.157-.111.313-.229 1.254-.944 2.153-1.383 3.406-1.383 1.048 0 2.046.428 2.817 1.213zm-6.948-1.16a8.848 8.848 0 00-.739-.516C9.239 1.068 8.115.685 6.846.685c-1.454 0-2.837.593-3.886 1.662a5.983 5.983 0 00-1.7 3.888c-.075 1.441.285 2.708 1.143 4.053.638 1 2.274 2.87 4.007 4.59.883.877 1.702 1.624 2.372 2.165 1.029.829 1.657 1.142 2.226 1.142.942 0 2.369-1.082 4.598-3.302 1.718-1.712 3.348-3.584 3.992-4.596.811-1.275 1.224-2.491 1.143-4.052a5.983 5.983 0 00-1.7-3.888C17.99 1.277 16.609.685 15.154.685c-1.602 0-2.721.516-4.132 1.554z"></path></svg>
            *@

            @*             @if (string.IsNullOrEmpty(product.Image))
            {
            <svg width="800" height="600" xmlns="http://www.w3.org/2000/svg" role="img">
            <rect width="100%" height="100%" rx="10" fill="#666"> </rect>
            <text x="40%" y="50%" fill="#444" dy=".3em">First slide</text>
            </svg>
            }
            else
            {
            <img style="width:100%;height:100%" src="~/img/product/@product.Image" class="card-img-top" alt="...">
            }
            *@
        </div>
        <div class="carousel-item">
            <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Second slide" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" rx="10" fill="#666"></rect><text x="50%" y="50%" fill="#444" dy=".3em">Second slide</text></svg>
        </div>
        <div class="carousel-item">
            <img src="..." class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="w-100 mt-4 d-flex flex-wrap justify-content-center">
    @foreach (var product in Model.Products)
    {
        <div class="card mx-3 mb-4" style="width: 14rem;">
            <div class="row">
                <div class="col-md-12 d-flex justify-content-center align-items-center" style="margin: 20px 0 0">
                    @if (string.IsNullOrEmpty(product.Image))
                    {
                        <svg width="300" height="300" xmlns="http://www.w3.org/2000/svg" role="img">
                            <rect width="100%" height="100%" rx="10" fill="#666"> </rect>
                            <text x="40%" y="50%" fill="#444" dy=".3em">No photo</text>
                        </svg>
                    }
                    else
                    {
                        <img style="width:100%;height:100%" src="~/img/product/@product.Image" class="card-img-top" alt="...">
                    }
                </div>
                <div class="card-body">
                    <h5 class="card-title"><b>@product.ProductName</b></h5>
                    <hr />
                    <p>
                        <b>Производитель: </b>@product.ManufacturerName<br />
                        <b>Цена: </b>@product.Price <br />
                        <b>Описание: </b>@product.Description
                    </p>
                    <button type="button" onclick="add(@product.Id)" class="btn btn-primary">Добавить в корзину</button>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts{
    <script>
        async function add(productId) {
            var usernameEl = document.getElementById("username");
            if (usernameEl == null) {
                console.log("eweq");
                window.location.href = "/Identity/Account/Login";
                // var username = usernameEl.innerText;
                // if (username.length < 1) {
                //     window.location.href = "/Identity/Account/Login";
                // }
            }
            try {
                var response = await fetch(`/Cart/AddProduct?productId=${productId}`);
                if (response.status == 200) {
                    var result = await response.json();
                    var cartCountEl = document.getElementById("cartCount");
                    cartCountEl.innerHTML = result;
                    window.location.href = "#cartCount";
                }
                // else {
                //     alert(`${response.status}`);
                // }
            }
            catch (err) {
                console.log(err);
            }
        }
    </script>
}
