@model IEnumerable<Order>
@{
    ViewData["Title"] = "Мои заказы";
}

<stong><div style="text-align: center"><h2>@ViewData["Title"]</h2></div></stong>
<div style="width:100%;margin: 0; border-radius: 0px 0px 10px 10px;" class="mt-2">
    <a href="/Identity/Account/Manage" class="btn btn-dark my-2">Назад</a>
    @if (Model != null && Model.Count() > 0)
    {
        <div>
            <table class="table table-striped mb-5">
                <tr>
                    <th>Дата заказа</th>
                    <th>Статус заказа</th>
                </tr>
                @foreach (var order in Model)
                {
                    <tr>
                        <td>@order.CreateDate.ToString("dd-MM-yyyy")</td>
                        <td>@order.OrderStatus.StatusName</td>
                    </tr>
                    @if (order.OrderDetail != null && order.OrderDetail.Count > 0)
                    {
                        <tr>
                            <td>
                                <table class="table table-striped text-center">
                                    <tr>
                                        <th>Продукт</th>
                                        <th>Фото</th>
                                        <th>Категория</th>
                                        <th>Цена</th>
                                        <th>Количество</th>
                                    </tr>

                                    @foreach (var item in order.OrderDetail)
                                    {

                                        <tr>
                                            <td>@item.Product.ProductName</td>
                                            <td>
                                                @if (string.IsNullOrEmpty(item.Product.Image))
                                                {
                                                    <svg width="100" height="120" xmlns="http://www.w3.org/2000/svg" role="img">
                                                        <rect width="100%" height="100%" rx="10" fill="#666"> </rect>
                                                        <text x="40%" y="50%" fill="#444" dy=".3em">No photo</text>
                                                    </svg>
                                                }
                                                else
                                                {
                                                    <img style="width:100px;height:120px" src="~/Uploads/Product/@item.Product.Image" class="card-img-top">
                                                }
                                            </td>
                                            <td>@item.Product.Category.CategoryName</td>
                                            <td>@item.Product.Price</td>
                                            <td>@item.Quantity</td>
                                        </tr>
                                    }

                                </table>

                            </td>
                            <td>
                                </tr>
                        <tr>
                            <td>
                                Всего:
                            </td>
                            <td>
                                        @(order.OrderDetail.Select(item => item.Product.Price * item.Quantity).Sum())
                            </td>
                        </tr>
                        
                    }
                    
                }
            </table>
        </div>


    }
    else
    {
        <h2>Заказов нету</h2>
    }

</div>