@model StoreMVC.Models.Product

@{
    ViewBag.Title = "Админ панель: редактирование товара";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <div class="panel m-4">
        <div class="panel-heading">
            <h3>Редактирование продукта «@Model.ProductName»</h3>
        </div>

        @using (Html.BeginForm("Edit", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <div class="panel-body">
                @Html.HiddenFor(m => m.Id)
                @foreach (var property in ViewData.ModelMetadata.Properties)
                {
                    if (property.PropertyName != "Id" && property.PropertyName != "OrderDetail" && property.PropertyName != "Category" && property.PropertyName != "CartDetail" && property.PropertyName != "CategoryName")
                    {
                        <div class="form-group">
                            <label>@(property.DisplayName ?? property.PropertyName)</label>
                            @if (property.PropertyName == "Description")
                            {
                                @Html.TextArea(property.PropertyName, Model.Description, new { @class = "form-control", rows = 5 })
                            }
                            else if (property.PropertyName == "CategoryId")
                            {
                                @Html.TextBox(property.PropertyName, Model.CategoryId, new { @class = "form-control", title = "Текст с информацией" })
                            }
                            else if (property.PropertyName == "Image")
                            {
                                <div class="m-5">
                                    <label class="form-label" for="Image">Image</label>
                                    <input type="file" name="ImageFile" />
                                </div>
                            }
                            else
                            {
                                @Html.TextBox(property.PropertyName, null, new { @class = "form-control" })
                            }
                        </div>
                    }
                }
            </div>
            <div class="panel-footer m-4">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
                @Html.ActionLink("Отменить изменения и вернуться к списку", "Index", "Admin", null, new
                    {
                        @class = "btn btn-default"
                    })
            </div>
        }
    </div>
</div>