@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@{
    ViewData["Title"] = "Админ панель";
}

@model IEnumerable<Order>

<div class="panel-heading m-4 text-center">
    <h2><strong>Заказы</strong></h2>
</div>

<div class="container">

    <div>
        @if (Model != null && Model.Count() > 0)
        {
            <div>
                @foreach (var order in Model)
                {
                    <h3>Заказ №@order.Id</h3>
                    <table class="table table-striped table-condensed table-bordered text-center ">
                        <tr>
                            <th style="background-color: #d4a59a; width: 300px">Пользователь</th>
                            <th style="background-color: #d4a59a">Дата создания заказа</th>
                            <th style="background-color: #d4a59a">Итоговая стоимость</th>
                            <th style="background-color: #d4a59a">Статус заказа</th>
                        </tr>
                        <tr>
                            <td>@order.UserId</td>
                            <td>@order.CreateDate</td>
                            <td>@order.OrderDetail?.Select(item => item.Product.Price * item.Quantity).Sum()</td>
                            <td>
                                <form asp-action="UpdateOrderStatus" method="post">
                                    <label for="orderStatus"></label>
                                    <select id="orderStatus" name="orderStatus">
                                        @foreach (var status in ViewBag.Statuses)
                                        {
                                            <option value="@status.Id" selected="@order.OrderStatusId">@status.StatusName</option>
                                        }
                                    </select>
                                    <button type="submit" class="btn btn-primary">Обновить статус</button>
                                </form>
                            </td>
                        </tr>
                        <tr>
                            <th style="background-color: #d4a59a">Продукт</th>
                            <th style="background-color: #d4a59a">Категория</th>
                            <th style="background-color: #d4a59a">Количество</th>
                            <th style="background-color: #d4a59a">Цена</th>
                        </tr>

                        @if (order.OrderDetail != null && order.OrderDetail.Count > 0)
                        {
                            @foreach (var item in order.OrderDetail)
                            {
                                <tr>
                                    <td>@item.Product.ProductName</td>
                                    <td>@item.Product.Category?.CategoryName</td>
                                    <td>@item.Quantity</td>
                                    <td>@item.Product.Price</td>
                                </tr>
                            }
                        }
                    </table>


                    @*                     <form asp-action="UpdateOrderStatus" method="post">
            <input type="hidden" name="orderId" value="@order.Id" />
            <div class="form-group">
            <label for="statusId">Статус заказа:</label>
            <input type="text" id="statusId" name="statusId" class="form-control" value="@(order.OrderStatus?.StatusName)" />
            </div>
            <button type="submit" class="btn btn-primary">Обновить статус</button>
            </form> *@

                    <br />
                }
            </div>


        }
        else
        {
            <h2>Заказов нету</h2>
        }

    </div>
</div>